// Media queries
$desktop-width: 1920px;
$tablet-width: 768px;
$mobile-width: 376px;


// Fonts
$font-stack: 'Roboto', Arial, sans-serif;


// Colors
$font-color: #333;
$font-color-contast: #fff;

$primary-color: #f7e1e3; //pink
$secondary-color: #efcdce; //dark-pink

$accent-color-1: #fcf6f6; //grey
$accent-color-2: #f1f1f1; //lightgrey

$color: #fff;
$contrast-color: #000; 


